* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    max-width: 300px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Bebas Neue, Roboto, sans-serif;
}

footer {
    text-align: center;
    margin-top: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    margin: 20px;
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: black;
    color: white;
    padding: 150px 50px;
}