@tailwind base;
@tailwind components;
@tailwind utilities;

/* url(../../public/fonts/bogart/Bogart-Black-Italic-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Black-trial.ttf) format('truetype'), 
  url(../../public/fonts/bogart/Bogart-Bold-Italic-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Bold-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Extrabold-Italic-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Extralight-Italic-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Extralight-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Italic-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Light-Italic-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Light-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Medium-Italic-trial.ttf) format('truetype'),
  url(../../public/fonts/bogart/Bogart-Medium-trial.ttf) format('truetype'),


  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Bold\ Outline\ Trial.otf) format('opentype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Bold\ Outline\ Trial\ Italic.otf) format('opentype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Black.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Black\ Italic.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Bold.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Bold\ Italic.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ DemiBold.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ DemiBold\ Italic.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ ExtraBold.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ ExtraBold\ Italic.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ ExtraLight.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ ExtraLight\ Italic.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Italic.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Var\ Italic.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Var\ Roman.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Light.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Light\ Italic.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Medium.ttf) format('truetype'),
  url(../../public/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Medium\ Italic.ttf) format('truetype'),

   */

@layer base {
  @font-face {
    font-family: 'bogart';
    src: url(/fonts/bogart/Bogart-Regular-trial.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'bogart-bold';
    src: url(/fonts/bogart/Bogart-Semibold-trial.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'bogart-italic';
    src: url(/fonts/bogart/Bogart-Semibold-Italic-trial.ttf) format('truetype');    
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'bogart-thin';
    src: url(/fonts/bogart/Bogart-Thin-trial.ttf) format('truetype'),
         url(/fonts/bogart/Bogart-Thin-Italic-trial.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  

  @font-face {
    font-family: 'genty';
    src: url(/fonts/genty/GentyDemo-Regular.ttf) format('truetype'),
         url(/fonts/genty/GentyDemo-Regular.otf) format('opentype');
    font-weight: 400;
    font-size: larger;
    font-style: normal;      
  }

  @font-face {
    font-family: 'tt_firs_neue';
    src: url(/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'tt_firs_neue-thin';
    src: url(/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Thin.ttf) format('truetype'),
         url(/fonts/tt_firs_neue/TT\ Firs\ Neue\ Trial\ Thin\ Italic.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
  }
}

body {
  font-family: 'Bogart', Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}


/* Index page */
.hero-img {
  max-width: 250px;
  height: auto;
}

.logo {
  width: 60px;
  height: 60px;
}

.full-logo {
  width: 300px;
}

button {
  position: relative;
  width: 175px;
  padding: 15px 30px;
  background-color: #FFD18C;
  border: solid 1px black;
  border-radius: 30px;
  box-shadow: -2px 4px;
}

button:hover {
  box-shadow: -2px 4px black;
  background-color: #FFB74A;
}

.name, 
.project-header,
.resume {
  text-shadow:
      -2px -2px 0 #FFD18C,
      2px -2px 0 #FFD18C,
      -2px 2px 0 #FFD18C,
      2px 2px 0 #FFD18C;
}

.disco {
  top: -12px;
  right: -150px;
  width: 500px;
  background-position: center;
  overflow: hidden;
}

.retro-textbox {
  top: 150px;
  left: -15px;
}

.intro {
  width: 500px;
  z-index: 1;
}

.star-4-point-bottom,
.star-4-point-top {
  position: absolute;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='15' height='15'%3E%3Cpath d='M25,50c0,0,1.325-8.413,8.957-16.043C41.587,26.325,50,25,50,25l0,0c0,0-8.413-1.325-16.043-8.957C26.325,8.413,25,0,25,0 l0,0c0,0-1.325,8.413-8.957,16.043C8.413,23.675,0,25,0,25l0,0c0,0,8.413,1.325,16.043,8.957C23.675,41.588,25,50,25,50' fill='%23FD6D2F' stroke='%23000' stroke-width='2' /%3E%3C/svg%3E");
  height: 15px;
  width: 15px;
}

.star-4-point-bottom {
  top: 47px;
  left: 30px;
}

.star-4-point-top {
  top: -8px;
  left: 130px;
}


/* About page */
.about {
  width: 500px;
}

.about-img {
  width: 400px;
}

.triple-heart {
  top: 20px;
  left: 320px;
  width: 80px;
}

/* Project Page */
.grid {
  grid-template-columns: repeat(auto-fit, 390px);
}

.card-item {
  perspective: 2000px;
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-item:hover .card {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.card img,
.description {
  width: 390px;
  height: 390px;
  backface-visibility: hidden;
}

.description {
  transform: rotateY(180deg);
}

.card-item span img.right-arrow  {
  width: 30px;
  height: 15px;
}


/* Error page */
.err-msg-title,
.err-msg {
  text-shadow:
    -1.5px -1.5px 0 #493931,
    1.5px -1.5px 0 #493931,
    -1.5px 1.5px 0 #493931,
    1.5px 1.5px 0 #493931;
}

.ship {
  bottom: 0;
  right: -50px;
  width: 600px;
}